<div class="contents row">
  <p><%= current_user.nickname %>さんの投稿一覧</p>
  <% @comments.each do |comment| %>
    <div class="content_post" style="background-image: url(<%= comment.image %>);">
      <p><%= comment.text %></p>
      <span class="name"><%= comment.name %></span>
    </div>
  <% end %>
</div>