html {
  width: 100%;
  height: 100%;
  background-image: url(https://beiz.jp/images_P/paper/paper_00108.jpg);
}
.contact {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.contact-form {
  width: 600px;
}

.name_form {
  width: 500px;
  padding: 15px;
  border: 1px solid;
  display: block;
  opacity: 1;
}

.name_form::placeholder {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: black;
}

header {
  display: flex;
}

.heading {
  margin-top: 10px;
  margin-left: 50px;
}

.navbar {
  padding: 50px;
  width: 100%;
}

.nav-lists {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  display: flex;
  justify-content: flex-end;
}

li{
  font-size: large;
  list-style: none;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.login {
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  
}

.sign-up {
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

.user-nickname {
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

.logout {
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}


/* スタイルの状態変化を「my-fade-in」という名前で定義 */
@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {  
  /* .boxが「my-fade-in」で状態変化するように指定 */
  animation-name:     my-fade-in;
   /* animation-duration: 7s; */
}

.btn-border {
  display: flex;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  transition: .4s;
  opacity: 1;
}

.btn-border:hover {
  background-color: black;
  border-color: black;
  /* color: #FFF; */
}

.footer {
  text-align: center;
  padding-right: 70px;
  padding-top: 190px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ans {
  width: 576px;
  margin: 5px 0 15px;
  padding: 12px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  background-color: #fff;
  text-align: center;
  transition: 2s;
}

.ffff{
  color: #fff;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ans:hover {
  background-color: black;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name:     my-fade-in;
  animation-duration: s;
}

.submit_btn[type="submit"] {
  background-color: #fff;
  border-radius: 4px;
  color:#fff;
  border: 0;
  font-size: 18px;
  transition: 1s;
}

[type="submit"]:hover {
  background-color: black;
}

//kokkkara

